<p-tabs [value]="`${tab}`" scrollable showNavigators="false" selectOnFocus="true">
    <p-tablist>
        <p-tab value="0">{{ 'ordering.orders' | translate }}</p-tab>
        <p-tab value="1">{{ 'catalog.services' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-orders-list></app-orders-list>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-catalog-list></app-catalog-list>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
