<div>
  <label *ngIf="label" for="{{elementId}}">{{ label }}</label>
  <div class="password-container px-0 w-100">
    <input pInputText pPassword [formControl]="inputControl" class="w-100" id="{{elementId}}" placeholder="{{ placeholder }}"
           feedback="false" [showPassword]="isPasswordVisible"/>
    <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
    <i class="pi pi-eye" *ngIf="isPasswordVisible"></i>
    <i class="pi pi-eye-slash" *ngIf="!isPasswordVisible"></i>
  </span>
  </div>
</div>
