.order-list {
    .order-item {
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        .customer-avatar-block {
            min-width: 70px;
            max-width: 90px;
        }

        .order-list-avatar {
            border-radius: 50%;
            width: 56px;
            height: 56px;
            object-fit: cover;
            border: 2px solid var(--p-primary-color, #2196f3);
        }

        .customer-name {
            font-weight: 500;
            font-size: 0.95rem;
            word-break: break-word;
        }

        .order-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .order-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .order-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

    }

    @media (max-width: 500px) {
        .order-item {
            flex-direction: column;

            .customer-avatar-block {
                margin-bottom: 0.5rem;
                margin-right: 0;
            }

            .order-info {

                .order-header,
                .order-footer {
                    flex-direction: column;
                    align-items: start;
                    gap: 0.5rem;
                }

                .order-header {
                    .order-title {
                        max-width: 100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        line-height: 1.2;
                    }
                }
            }

        }
    }
}