.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  max-width: 100%;
}
.content-title {
  min-width: 150px;
  display: flex;
  align-items: center;
}
.row-text {
  display: block;
  padding: 9px 0;
}

