<section class="row justify-content-center mt-5">
  <p-card styleClass="col-md-10 col-lg-8 offset-lg-2 offset-md-1 col-sm-12 offset-sm-0">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <div *ngIf="loading" class="text-center">{{ 'ordering.loading' | translate }}</div>
        <div *ngIf="!loading && order" class="order-details">
          <h3 class="c-primary text-center mb-3">{{ 'ordering.order_details' | translate }}</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.order_id' | translate }}</strong> {{ order.id }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.title' | translate }}</strong> {{ order.name }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.description' | translate }}</strong> {{ order.description }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.price' | translate }}</strong> {{ '$' + order.price }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.payment_kind' | translate }}</strong> {{ getPaymentKindString(order.paymentKind) }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.due_date' | translate }}</strong> {{ order.dueDate | date }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.status' | translate }}</strong> {{ getOrderStatusString(order.status) }}</p>
              </div>
              <div class="order-detail-item mb-3">
                <p><strong>{{ 'ordering.customer_id' | translate }}</strong> {{ order.customerId }}</p>
              </div>
              <div class="order-detail-item mb-3" *ngIf="order.executorId">
                <p><strong>{{ 'ordering.executor_id' | translate }}</strong> {{ order.executorId }}</p>
              </div>
              <div class="order-detail-item mb-3" *ngIf="order.executionDate">
                <p><strong>{{ 'ordering.execution_date' | translate }}</strong> {{ order.executionDate | date }}</p>
              </div>
              <div class="order-detail-item mb-3" *ngIf="order.billId">
                <p><strong>{{ 'ordering.bill_id' | translate }}</strong> {{ order.billId }}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <p-button label="{{ 'ordering.cancel' | translate }}" 
                      icon="pi pi-times" severity="danger" (click)="cancelOrder()" 
                      *ngIf="order.customerId == profileId"></p-button>
            <p-button [routerLink]="'/ordering/send-execution-proposal'" 
                      [queryParams]="{ orderId: order.id, receiverId: order.customerId }"  
                      label="{{ 'ordering.send_execution_proposal' | translate }}"
                      [severity]="'success'" *ngIf="order.customerId != profileId && order.status == 1"/>
        </div>
        </div>
      </div>
    </div>
  </p-card>
</section>