<section class="row justify-content-center mt-5">
    <p-card styleClass="col-md-10 col-lg-8 offset-lg-2 offset-md-1 col-sm-12 offset-sm-0">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
          <form [formGroup]="sendExecutionProposalForm" class="row card create-order-form mx-0 px-0">
            <div class="row px-0 mx-0">
              <h3 class="c-primary text-center mb-3">{{ 'ordering.execution_proposal' | translate }}</h3>
            </div>
            <div class="row mb-3 mx-0 px-0">
              <div>
                <label for="comment">{{ 'ordering.comment' | translate }}</label>
                <textarea pTextarea formControlName="comment" maxlength="1000" rows="5" cols="30" class="w-100" id="comment"></textarea>
              </div>
            </div>
            <div class="row mx-0 px-0 mt-3">
              <button pButton pRipple [type]="'submit'" label="{{'ordering.send' | translate }}"
                      icon="pi pi-check" class="w-100"
                      (click)="sendExecutionProposal()"></button>
            </div>
          </form>
        </div>
      </div>
    </p-card>
  </section>