/* filepath: c:\Dan\Projects\Doerly\src\doerly-fe\src\app\modules\order\pages\list\list.component.scss */
.execution-proposal-item {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    // background-color: rgb(50, 50, 50);
    // transition: background-color 0.3s;

    // &:hover {
    //     background-color: var(--surface-100);
    // }

    .execution-proposal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .execution-proposal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
}