<section class="row justify-content-center mt-5">

  <p-card styleClass="col-md-10 col-lg-8 offset-lg-2 offset-md-1 col-sm-12 offset-sm-0">

    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 me-1">

        <form [formGroup]="emailFormGroup" class="row card login-form mx-0 px-0" *ngIf="!isSubmitted">
          <div class="row px-0 mx-0">
            <h3 class="c-primary text-center mb-3">{{ 'auth.reset_password' | translate }}</h3>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <label for="email">{{ 'auth.email' | translate }}</label>
            <input pInputText formControlName="email" class="w-100" id="email" placeholder="example@mail.com"/>
            <small *ngIf="isInvalid(emailFormGroup,'email')" class="input-validation-item">
              {{ getError(emailFormGroup, 'email', 'required', 'auth.field_required' | translate) }}
              {{ getError(emailFormGroup, 'email', 'email', 'auth.email_not_valid' | translate) }}
              {{ getServersideError(emailFormGroup, 'email') }}
            </small>
          </div>
          <div class="row mx-0 px-0 mt-3">
            <button pButton pRipple [type]="'button'" label="{{'auth.reset_password' | translate }}" icon="pi pi-user"
                    class="w-100" [disabled]="!emailFormGroup.valid"
                    (click)="requestPasswordReset()"></button>
          </div>
        </form>

        <div class="row card login-form mx-0 px-0" *ngIf="isSubmitted">
          <div class="row px-0 mx-0">
            <h3 class="c-primary text-center mb-3">{{ 'auth.login' | translate }}</h3>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <p>{{ 'auth.reset_link_sent' | translate }}</p>
          </div>
        </div>

      </div>
    </div>

  </p-card>
</section>


