<section class="row justify-content-center mt-5">
  <p-card styleClass="col-md-10 col-lg-8 offset-lg-2 offset-md-1 col-sm-12 offset-sm-0">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <form [formGroup]="orderForm" (ngSubmit)="submit()" class="row card create-order-form mx-0 px-0">
          <div class="row px-0 mx-0">
            <h3 class="c-primary text-center mb-3">
              {{ isEdit ? ('ordering.order_editing' | translate) : ('ordering.create_order' | translate) }}
            </h3>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <div>
              <label for="categoryId">{{ 'ordering.category_id' | translate }}</label>
              <input pInputText formControlName="categoryId" class="w-100" id="categoryId" type="number" step="1"/>
              <small *ngIf="isInvalid(orderForm, 'categoryId')" class="input-validation-item">
                {{ getError(orderForm, 'categoryId', 'required', 'ordering.field_required' | translate) }}
                {{ getServersideError(orderForm, 'categoryId') }}
              </small>
            </div>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <div>
              <label for="name">{{ 'ordering.title' | translate }}</label>
              <input pInputText formControlName="name" class="w-100" id="name" maxlength="100" />
              <small *ngIf="isInvalid(orderForm, 'name')" class="input-validation-item">
                {{ getError(orderForm, 'name', 'required', 'ordering.field_required' | translate) }}
                {{ getError(orderForm, 'name', 'minimumLength', 'ordering.minimum_length' | translate: {length: 1}) }}
                {{ getServersideError(orderForm, 'name') }}
              </small>
            </div>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <div>
              <label for="description">{{ 'ordering.description' | translate }}</label>
              <textarea pTextarea formControlName="description" rows="5" cols="30" class="w-100 p-2" id="description"
                maxlength="4000"></textarea>
              <small *ngIf="isInvalid(orderForm, 'description')" class="input-validation-item">
                {{ getError(orderForm, 'description', 'required', 'ordering.field_required' | translate) }}
                {{ getError(orderForm, 'description', 'minimumLength', 'ordering.minimum_length' | translate: {length: 5}) }}
                {{ getServersideError(orderForm, 'description') }}
              </small>
            </div>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <div class="col-6">
              <label for="price">{{ 'ordering.price' | translate }}</label>
              <input pInputText formControlName="price" class="w-100" id="price" type="number" min="1" max="9999999999999.99" step="0.01" />
              <small *ngIf="isInvalid(orderForm, 'price')" class="input-validation-item">
                {{ getError(orderForm, 'price', 'required', 'ordering.field_required' | translate) }}
                {{ getError(orderForm, 'price', 'min', 'ordering.price_min' | translate) }}
                {{ getServersideError(orderForm, 'price') }}
              </small>
            </div>
            <div class="col-6 d-flex align-items-center mt-3">
              <p-checkbox formControlName="isPriceNegotiable" binary="true" inputId="isPriceNegotiable"></p-checkbox>
              <label for="isPriceNegotiable" class="ms-2 mb-0">{{ 'ordering.price_negotiable' | translate }}</label>
              <small *ngIf="isInvalid(orderForm, 'isPriceNegotiable')" class="input-validation-item ms-2">
                {{ getError(orderForm, 'isPriceNegotiable', 'required', 'ordering.field_required' | translate) }}
                {{ getServersideError(orderForm, 'isPriceNegotiable') }}
              </small>
            </div>
          </div>
          <div class="row mb-3 mx-0 px-0">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <label for="paymentKind">{{ 'ordering.payment_kind' | translate }}</label>
              <p-select [options]="paymentKinds" formControlName="paymentKind" class="w-100" id="paymentKind"></p-select>
              <small *ngIf="isInvalid(orderForm, 'paymentKind')" class="input-validation-item">
                {{ getError(orderForm, 'paymentKind', 'required', 'ordering.field_required' | translate) }}
                {{ getServersideError(orderForm, 'paymentKind') }}
              </small>
            </div>
            <div class="datepicker-container col-12 col-md-6">
              <label for="dueDate" class="w-100">{{ 'ordering.due_date' | translate }}</label>
              <p-datepicker formControlName="dueDate" class="w-100" id="dueDate" [showTime]="true" [hourFormat]="'24'"
                [showIcon]="true" dateFormat="dd.mm.yy" [minDate]="currentDate"></p-datepicker>
              <small *ngIf="isInvalid(orderForm, 'dueDate')" class="input-validation-item">
                {{ getError(orderForm, 'dueDate', 'required', 'ordering.field_required' | translate) }}
                {{ getError(orderForm, 'dueDate', 'invalidDate', 'ordering.invalid_date' | translate) }}
                {{ getServersideError(orderForm, 'dueDate') }}
              </small>
            </div>
          </div>
          <div class="row mx-0 px-0 mt-3">
            <button pButton pRipple type="submit"
              [label]="isEdit ? ('common.save' | translate) : ('ordering.create_order' | translate)"
              icon="pi pi-check" class="w-100" [disabled]="!orderForm.valid"></button>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</section>