<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Execution Proposals</p-tab>
        <p-tab value="1">Orders</p-tab>
        <p-tab value="2">My Orders</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0" header="Execution Proposals">
            <app-execution-proposals-tabs></app-execution-proposals-tabs>
        </p-tabpanel>
        <p-tabpanel value="1" header="Orders">
            <app-orders-list></app-orders-list>
        </p-tabpanel>
        <p-tabpanel value="2" header="My Orders">
            <app-my-orders-tabs></app-my-orders-tabs>
        </p-tabpanel>
    </p-tabpanels> 
</p-tabs>   