<section class="execution-proposal-container row justify-content-center mt-5">
  <p-card styleClass="col-md-10 col-lg-8 offset-lg-2 offset-md-1 col-sm-12 offset-sm-0">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <form [formGroup]="proposalForm" class="row card mx-0 px-0">
          <h3 class="c-primary text-center mb-3">
            {{ isEdit ? ('ordering.execution_proposal_editing' | translate) : ('ordering.execution_proposal' |
            translate) }}
          </h3>
          <div class="row mb-3 mx-0 px-0">
            <div>
              <label for="comment">{{ 'ordering.comment' | translate }}</label>
              <textarea pTextarea formControlName="comment" [maxlength]="commentMaxLength" rows="5" class="w-100 p-2"
                id="comment"></textarea>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <small *ngIf="isInvalid(proposalForm, 'comment')" class="input-validation-item">
                    {{ getServersideError(proposalForm, 'comment') }}
                  </small>
                </div>
                <small class="text-end text-secondary align-self-end ms-auto">
                  {{ proposalForm.get('comment')?.value?.length || 0 }}/{{ commentMaxLength }}
                </small>
              </div>
            </div>
          </div>
          <div class="row mx-0 mt-3">
            <button pButton pRipple type="button"
              [label]="isEdit ? ('common.save' | translate) : ('ordering.send' | translate)" icon="pi pi-check"
              class="w-100" [disabled]="!proposalForm.valid" (click)="submit()"></button>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</section>