<p-tabs [value]="`${tab}`">
    <p-tablist>
        <p-tab value="0">{{ 'ordering.placed_orders' | translate }}</p-tab>
        <p-tab value="1">{{ 'ordering.accepted_orders' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-orders-list [customerId]="profileId"></app-orders-list>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-orders-list [executorId]="profileId"></app-orders-list>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>