.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  padding: 2rem 0;
}

p-footer {
  flex-shrink: 0;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  color: var(--p-button-text-success-color);
}

label {
  padding-left: 0;
  padding-right: 0;
}

textarea {
  border-radius: 5px;
  border: 1px solid var(--p-inputtext-border-color);
}

@media (max-width: 768px) {
  p-header {
    text-align: center;

    .navbar-brand {
      margin: 0 auto;
    }

    app-category-dropdown {
      margin: 0 auto;
    }
  }
}
